@media(max-width: 1000px){
  .exhibits{
    height: 100vh;
    .header-new{
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: lightgray;
      .name{
        line-height: 48px;
        font-size: 23px;
        font-family: verdana;
        a{
          text-decoration: none;
          color: black;
        }
      }
    }
    .detail{
      margin: 15px 15px;
      background-color: white;
      .title{
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 15px;
      }
      .des{
        font-size: 15px;
        margin-bottom: 10px;
      }
      .ex-img{
        width: 100%;
        height: 220px;
        border-bottom: 1px solid black;
        &__box{
          background-color: lightgray;
          display: flex;
          justify-content: center;
          &--image{
            width: 100%;
            height: 200px;
            text-align: center;
            line-height: 200px;
            font-size: 30px;
            cursor: pointer;
            .image__file{
              width: 100%;
              height: 200px;
              align-items: center;
              display: none;
            }
          }
        }
      }
      .item-name{
        margin-top: 20px;
        width: 100%;
        &__text{
          width: 100%;
          height: 50px;
          padding: 0 10px;
        }
      }
      .item-desc{
        margin-top: 20px;
        width: 100%;
        height: 200px;
        border-bottom: 1px solid black;
        &__text{
          width: 100%;
          height: 150px;
          padding: 0 10px;
          word-wrap: break-word;
        }
      }
      .item-category{
        margin-top: 20px;
        &__text{
          width: 100%;
          height: 50px;
        }
      }
      .item-state{
        margin-top: 20px;
        &__text{
          width: 100%;
          height: 50px;
        }
      }
      .item-from{
        margin-top: 20px;
        &__text{
          width: 100%;
          height: 50px;
          padding: 0 10px;
        }
      }
      .item-days{
        margin-top: 20px;
        &__text{
          width: 100%;
          height: 50px;
          padding: 0 10px;
        }
      }
      .item-price{
        margin-top: 20px;
        height: 150px;
        border-bottom: 1px solid black;
        &__text{
          width: 20%;
          height: 50px;
          padding: 0 10px;
          float: right;
        }
      }
      .ex-btn{
        margin-top: 20px;
        .submit-btn{
          width: 100%;
          height: 50px;
          cursor: pointer;
          background-color: red;
          border-radius: 5px;
          color: white;
          font-weight: bold;
        }
      }
      .return{
        margin-top: 5px;
        .return-btn{
          width: 100%;
          height: 50px;
          cursor: pointer;
          border-radius: 5px;
          color: blue;
        }
      }
    }
  }
  .footer{
    margin-top: 50px;
    height: 200px;
    background-color: lightgrey;
  }
}
@media(min-width: 1000px){
  .exhibits{
    background-color: blue;
  }
}
