.users{
  .user-header{
    height: 100px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    background-color: red;
    color: white;
  }
  .ex-items{
    height: 50px;
    background-color: whitesmoke;
    font-size: 20px;
    line-height: 50px;
    padding-left: 5%;
    margin-top: 20px;
  }
}